
<mat-card>

    <mat-chip-list [(ngModel)]="year">
        <mat-chip color=primary *ngFor="let chic of chips" (click)="onRowClicked(chic)" >{{chic}}</mat-chip>
    </mat-chip-list>
    
  <button mat-fab class="page-action" id="add" color="primary" (click)="crear()" >
      <mat-icon class="md-24">add</mat-icon>
  </button>
<br>
<mat-card-title>Contratos</mat-card-title>

<mat-card-content>

    <mat-table [dataSource]='contratos'>

      <ng-container matColumnDef="cliente">
          <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
          <mat-cell *matCellDef="let contrato"> {{contrato.cliente.razonSocial}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="periodo">
          <mat-header-cell *matHeaderCellDef>Periodo</mat-header-cell>
          <mat-cell *matCellDef="let contrato"> {{contrato.periodo}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="montoTotal">
          <mat-header-cell *matHeaderCellDef>Monto Total </mat-header-cell>
          <mat-cell *matCellDef="let contrato"> {{contrato.montoTotal | currency }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="cuotas">
          <mat-header-cell *matHeaderCellDef>Cuotas</mat-header-cell>
          <mat-cell *matCellDef="let contrato"> {{contrato.cuotas}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let contrato"> {{contrato.fecha}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      
      <mat-row *matRowDef="let fila; columns: columnsToDisplay" class="fila"></mat-row>
      
    </mat-table>

</mat-card-content>

</mat-card>