<button mat-icon-button style="float:right" (click)="close()" matTooltip="Cerrar">
  <mat-icon class="md-24">close</mat-icon>
</button>
<h2 mat-dialog-title>Cliente</h2>

<mat-dialog-content [formGroup]="form" novalidate>
<mat-list>

  <mat-form-field class="lista">
      <input matInput
              placeholder="RazonSocial"  
              formControlName="RazonSocial">
    <mat-hint align="start">ej. Ritel Group S.A. </mat-hint>
  </mat-form-field>

  <mat-form-field class="lista">
    <input matInput
            placeholder="Ruc"  
            formControlName="Ruc">
    <mat-hint align="start">ej 80089270-4, 1356143-0 </mat-hint>
  </mat-form-field>

<mat-form-field class="lista">
  <input matInput
          placeholder="Direccion"  
          formControlName="Direccion">
          <mat-hint align="start">ej Manuel Blinder esq Emigdia Reisofer</mat-hint>
</mat-form-field>

<mat-form-field class="lista">
  <input matInput
          placeholder="RepresentanteLegal"  
          formControlName="RepresentanteLegal">
          <mat-hint align="start">ej Cinthia Tellez </mat-hint>
</mat-form-field>

<mat-form-field class="lista">
  <input matInput
          type="number"
          placeholder="Ci"  
          formControlName="Ci">
          <mat-hint align="start">ej 1356143</mat-hint>
  
</mat-form-field>


</mat-list>

</mat-dialog-content>

<mat-dialog-actions style="float: right">

<button mat-icon-button (click)="save()" [disabled]="!form.valid" matTooltip="Guardar cambios">
  <mat-icon class="md-24">save</mat-icon>
</button>

<button mat-icon-button  *ngIf="cliente.id != null" (click)="delete()" matTooltip="Borrar"> 
  <mat-icon class="md-24">delete</mat-icon>
</button>

</mat-dialog-actions>