<button mat-icon-button style="float:right" (click)="close()" matTooltip="Cerrar">
  <mat-icon class="md-24">close</mat-icon>
</button>
<h2 mat-dialog-title>Nuevo Contrato</h2>

<mat-dialog-content [formGroup]="form" novalidate>
<mat-list>

    <label>Cliente:  </label>
    <mat-radio-group formControlName="Options">
      <mat-radio-button value="existente"> Existente </mat-radio-button>
      <mat-radio-button value="nuevo"> Nuevo </mat-radio-button>
    </mat-radio-group>

    
    <mat-form-field  *ngIf="form.value.Options === 'existente'" >
      <mat-select placeholder="Seleccionar Cliente"  formControlName="Clientes" [(ngModel)]="clienteseleccionado">
        <mat-option *ngFor="let clienteseleccionado of clientes" [value]="clienteseleccionado">
          {{ clienteseleccionado.razonSocial }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.Options === 'nuevo'">
      <input matInput
              placeholder="RazonSocial"  
              formControlName="RazonSocial">
              <mat-hint align="start">ej. Ritel Group S.A. </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.Options === 'nuevo'">
      <input matInput
              placeholder="Ruc"  
              formControlName="Ruc">
              <mat-hint align="start">ej 80089270-4, 1356143-0 </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.Options === 'nuevo'">
      <input matInput
              placeholder="Direccion"  
              formControlName="Direccion">
              <mat-hint align="start">ej Manuel Blinder esq Emigdia Reisofer</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.Options === 'nuevo'">
      <input matInput
              placeholder="RepresentanteLegal"  
              formControlName="RepresentanteLegal">
              <mat-hint align="start">ej Cinthia Tellez </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.Options === 'nuevo'">
      <input matInput
              placeholder="Ci"  
              formControlName="Ci">
              <mat-hint align="start">ej 1356143</mat-hint>
    </mat-form-field>

    <!-- MAS DFORMULARIO    -->

    <mat-form-field>
      <input matInput type="number" size="4"
              placeholder="Periodo"  
              formControlName="Periodo">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" 
              placeholder="Monto Total"  
              formControlName="MontoTotal">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number"
              placeholder="Cuotas"  
              formControlName="Cuotas">
    </mat-form-field>

    <mat-form-field class="cuotas" *ngIf="form.value.Cuotas > 0 && form.value.Cuotas < 5">
      <input matInput type="number"
              placeholder="Cuota 1"  
              formControlName="Cuota1">
              <p> % </p>
    </mat-form-field>
    <mat-form-field  class="cuotas" *ngIf="form.value.Cuotas > 1 && form.value.Cuotas < 5">
      <input matInput type="number"
              placeholder="Cuota 2"  
              formControlName="Cuota2">
              <p> % </p>
    </mat-form-field>
    <mat-form-field class="cuotas" *ngIf="form.value.Cuotas > 2 && form.value.Cuotas < 5">
      <input matInput type="number"
              placeholder="Cuota 3"  
              formControlName="Cuota3">
              <p> % </p>
    </mat-form-field>
    <mat-form-field class="cuotas" *ngIf="form.value.Cuotas > 3 && form.value.Cuotas < 5">
      <input matInput type="number"
              placeholder="Cuota 4"  
              formControlName="Cuota4">
              <p> % </p>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="Fecha" [matDatepicker]="picker" placeholder="Fecha del Contrato">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput
              placeholder="Contacto"  
              formControlName="Contacto">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput
              placeholder="Link"  
              formControlName="Link">
    </mat-form-field>
</mat-list>

</mat-dialog-content>

<mat-dialog-actions style="float: right">

<button mat-icon-button (click)="save()" [disabled]="!form.valid" matTooltip="Guardar cambios">
  <mat-icon class="md-24">save</mat-icon>
</button>   .

</mat-dialog-actions>