<mat-card>

  <button mat-fab class="page-action" id="add" color="primary" (click)="crear()" >
      <mat-icon class="md-24">add</mat-icon>
  </button>

<mat-card-title>Clientes</mat-card-title>

<mat-card-content>

    <mat-table [dataSource]='clientes'>

      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let cliente"> {{cliente.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="razonSocial">
          <mat-header-cell *matHeaderCellDef>RazonSocial</mat-header-cell>
          <mat-cell *matCellDef="let cliente"> {{cliente.razonSocial}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ruc">
          <mat-header-cell *matHeaderCellDef>Ruc</mat-header-cell>
          <mat-cell *matCellDef="let cliente"> {{cliente.ruc}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="direccion">
          <mat-header-cell *matHeaderCellDef>Direccion </mat-header-cell>
          <mat-cell *matCellDef="let cliente"> {{cliente.direccion}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="representanteLegal">
          <mat-header-cell *matHeaderCellDef>Representante Legal</mat-header-cell>
          <mat-cell *matCellDef="let cliente"> {{cliente.representanteLegal}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ci">
          <mat-header-cell *matHeaderCellDef>CI</mat-header-cell>
          <mat-cell *matCellDef="let cliente"> {{cliente.ci}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      
      <mat-row *matRowDef="let fila; columns: columnsToDisplay" (click)="seleccionar(fila)" class="fila"></mat-row>
      
    </mat-table>

</mat-card-content>

</mat-card>